.container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #555a886f;
    backdrop-filter: blur(1.4px);
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease;
}
.close{
    transform: scale(0);
}
.form{
    background-color: rgb(213, 209, 241);
    width: 100%;
    max-width: 320px;
    padding: 2em 1.5em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    border-radius: 1em;
    border: 2px solid #555a88fb;;
}
.form_tittle{
    font-weight: 500;
    text-align: center
}
.form_exit{
    position: absolute;
    right: 1.4em;
    top: 1em;
    cursor: pointer;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    transition:  background-color 200ms ease;
    background-color: #555a88fb;
    border-radius: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.form_exit:hover{
    filter: brightness(1.4);
    color: white;
    font-weight: 600;
    border-radius: 50%;
    filter: brightness(1.4);
}
.form_item{
    display: flex;
    flex-direction: column;
}
.form_label{
    font-size: 0.7rem;
    padding-left: 1em;
}
.form_input{
    padding: 0.3em 0.5em;
    font-size: 0.7;
    font-weight: 300;
}
.form_btn{
    cursor: pointer;
    padding: 0.8em 1.5em;
    background-color: #555A88;
    color: white;
    margin-top: 1em;
    border-radius: 0.5em;
    transition: filter 200ms ease;
}
.form_btn:hover{
    filter: brightness(1.2);
}