.App{
    padding: 0em;
}
.header{
    background-color: antiquewhite;
    height: 5em;
    margin-bottom: 1em;
}
.app_header{
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    margin-bottom: 3em;
    padding: 1em 1.5em;
}
.app_tittle{
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgb(179, 33, 33);
    text-shadow: 3px 3px  #e79aa86b;
}

.app_btn{
    cursor: pointer;
    background-color: #555A88;
    color: white;
    padding: 0.5em 1.5em;
    width: 10em;
    border-radius: 0.4em;
    transition: filter 200ms ease, transform 200ms ease;
    display: flex;
    align-items: center;
    text-align: center;
}
.app_btn:hover{
    filter: brightness(1.2);
    transform: scale(1.02);
}
.app_users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    padding: 2em 1.5em;
}

