*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}
input{
    outline: none;
}
button{
   border: none;
}